/* #region Global styles */

/* Global styles */
:root {
  /* colors */
  --text-color: #212121;
  --white: #fff;
  --black: #000;
  --btn-active: #2196f3;
  --btn-bg-color: #f5f4fa;
}

body {
  font-family: "Roboto", "sans-serif";

  color: var(--text-color);
}

.link {
  text-decoration: none;

  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

/* active links */
a.active {
  color: var(--btn-active);
}
/* #endregion Global styles */

/* #region Header */
.container {
  width: 1170px;
  align-items: center;
  margin: 0 auto;
}

.main-nav {
  display: flex;
}

.logo {
  margin-right: 93px;

  text-decoration: none;
  font-size: 26px;
  font-family: "Raleway", sans-serif;

  color: var(--btn-active);
}

.logo > span {
  color: var(--black);
}

.site-nav {
  display: flex;
  list-style: none;
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.nav-link > .link {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
}

.link a:hover,
.link a:focus {
  cursor: pointer;

  color: var(--btn-active);

  transition: 0.3s;
}

/* auth nav */
.auth-nav {
  display: flex;
  margin: 0 auto;
  list-style: none;
}

.auth-nav-link > a {
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
}

.auth-nav .link + .link {
  margin-right: 30px;
}

.auth-nav .link + .link {
  padding-left: 50px;
}
/* #endregion Header */

/* #region Hero*/
.hero {
  text-align: center;

  background-color: #2f303a;
  color: var(--white);
}

.hero-title {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  width: 696px;
  margin: 0 auto 1em auto;
}

.hero-btn {
  padding: 0.6em 2em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  border: none;
  font-family: inherit;

  background-color: var(--btn-active);
  color: var(--white);
}
/* #endregion Hero*/

/* #region Benefits */
/* .section {
  width: 1170px;
  margin: 0 auto;
} */
.section-title {
  text-transform: uppercase;
  margin-top: 2em;
}

.benefits-list {
  display: flex;
  padding: 94px 0 94px 0;
  margin: 0;
  list-style: none;
}
.benefit-item {
  width: 270px;
}
.benefit-item:not(:last-child) {
  padding-right: 30px;
}
.benefit-title {
  margin: 0 0 10px 0;

  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;

  text-transform: uppercase;

  color: #212121;
}
/* стиль цвета для параграфов */
.benefit-descr {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
/* #endregion Benefits */

/* #region Activity */
/* activity style */
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.activity_box {
  justify-content: center;
}

/* style for all titles */
.title {
  margin: 0;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;

  color: var(--black);
}

.activity_list {
  display: flex;
  margin: 0;
  padding: 0;
}
.activity_item {
  /* list-style-type: none; */
  margin: 50px auto 90px auto;
  width: 370px;
}
.activity_item:not(last-child) {
  padding-right: 30px;
}
/* #endregion Activity */

/* #region Team */
/* our team styles */
.team {
  padding: 94px 0 94px 0;
  background-color: #f5f4fa;
}
.team_box {
  width: 1170px;
  margin: 0 auto;
}
.team_list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 50px 0 0 0;
}
.team_card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
  list-style: none;
}
.team_card > img {
  width: 270px;
  display: block;
}
.card_wrapper {
  padding: 30px;

  border-radius: 0 0 4px 4px;
  text-align: center;

  background-color: var(--white);
}
.team_member_name {
  margin: 0 0 10px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  color: #212121;
}
.team-member-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
/* #endregion Team */

/* #region Footer */
/* footer styles */
.footer {
  padding: 60px 0 60px 0;

  display: flex;
  justify-content: center;

  background-color: #2f303a;
}
.footer_wrapper {
  width: 1170px;
  margin: 0 auto;
}
.logo_footer {
  text-decoration: none;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  font-family: "Raleway", sans-serif;

  color: var(--btn-active);
}
.logo_footer > span {
  color: var(--white);
}
.footer_address {
  margin: 20px 0 0 0;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
}
.footer_contact {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
}
.mail,
.phone,
.location {
  opacity: 0.6;
}
.footer_address_loc a {
  text-decoration: none;
  color: var(--white);
}
.footer_address_loc a:hover {
  color: var(--btn-active);
}
.mail {
  margin: 9px 0 9px 0;
}
/* #endregion Footer */

/* #region Portfolio */
/* PORTFOLIO STYLE*/
.filter-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--btn-active);
  transition: 0.5s;
  color: var(--white);
}
.filter-box {
  text-align: center;
}
.filter-list {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
}
.filter-link {
  list-style: none;
  margin: 94px 0 50px 0;
}
.filter-link:not(last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 20px;
  border: none;
  background-color: var(--btn-bg-color);
}
.filter-btn:hover,
.filter-btn:focus {
  cursor: pointer;
}
/* #endregion Portfolio */

/* #region Works */
/* LIST STYLE */

.works-list {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work-link {
  width: 370px;
  margin-bottom: 30px;
  justify-content: space-between;
  border: 1px solid #eeeeee;
}

.works {
  margin: 0 auto 94px auto;
}
.works-title {
  margin: 0 0 10px 0;

  font-size: 18px;
  line-height: 2;
  font-weight: 700;

  color: #212121;
}
.works-subtitle {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}
.work-link > img {
  width: 370px;
  display: block;
}
.work-title {
  padding: 30px;
  border-radius: 0 0 4px 4px;
  text-align: left;
  background-color: var(--white);
}
/* #endregion Works */
