/* Global styles */
:root{
    /* colors */
    --white: #fff;
    --black: #000;
    --btn-active: #2196F3;
    --btn-bg-color: #F5F4FA;    
}
body{
    padding: 0;
    margin: 0;

    font-family: "Roboto";
    
    color: var(--white)
}
a{
    text-decoration: none;

    font-size: 14px;
    line-height: 1.2;

    font-weight: 500;
    color: #000;
}
h1,h2,h3{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
p{
    margin: 0;
    padding: 0;
}

/* Header styles */
.header{
    margin: 0 auto;

    justify-content: space-between;
    display: flex;
    
    width: 1170px;
}
header nav {
    padding: 24px;

    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 0 94px 0 0;

    text-decoration: none;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;

    color: var(--btn-active);
}
.logo>span{
    color: var(--black);
}

.header__nav {
    display: flex;
    justify-content: space-between;

    
    width: 294px;
}
.header__nav_link{
    margin: auto 0;
}

.header_addres_link{
    font-style: normal;
    color: var(--black);
}
a:hover,
a:focus{
    cursor: pointer;    
    
    color: var(--btn-active);

    transition: 0.3s;
}
.address{
    margin: auto 0;
}
.address a:last-child{
    padding-left: 40px;
}

/* Hero styles */
.hero{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 600px;

    background-color: #2F303A;
    color: var(--white);
}
.hero_section{
   margin: auto 0;
}
.reSize {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
    margin-bottom: 1.5em;
}

.btn{
    padding: 1em 2em;
    border-radius: 4px;
    border: none;
    
    background-color: var(--btn-active);
    color: var(--white);
}

/*style peculiarities*/
.peculiarities_wrapper{
    width: 1170px;
    margin: 0 auto;
}
.peculiarities_box{
    display: flex;
    justify-content: center;
}
.peculiarities_list{
    display: flex;
    margin: 0;
    padding: 0;
}
.peculiarities_item{
    width: 270px;
    padding: 94px 0 94px 0;
}
.peculiarities_item:not(:last-child) {
    padding-right: 30px;
}
.titleThird{
    margin: 0 0 10px 0;
    
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;

    color: #212121;
}
.peculiarities_descr{
    font-size: 14px;
    line-height: 1.7;

    color: #757575;
}

/* activity style */
.section{
    width: 1170px;
    margin: 0 auto;
}
.activity_box{
    justify-content: center;
}

/* style for all titles */
.title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;

    color: var(--black);
}

.activity_list{
    display: flex;
    margin: 0;
    padding: 0;
}
.activity_item{
    /* list-style-type: none; */
    margin: 50px auto 90px auto;
    width: 370px;
}
.activity_item:not(last-child) {
    padding-right: 30px;
}


/* our team styles */
.team{
    padding: 94px 0 94px 0;
    background-color: #F5F4FA;
}
.team_box{
    width: 1170px;
    margin: 0 auto;
}
.team_list{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}
.team_card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}
.team_card>img {
    width: 270px;
    display: inherit;
}
.card_wrapper{
    padding: 30px;

    border-radius: 0 0 4px 4px;
    text-align: center;

    background-color: var(--white);
}
.team_member_name{
    margin-bottom: 10px;
}


/* footer styles */
.footer{
    padding: 60px 0 60px 0;
    
    display: flex;
    justify-content: center;

    background-color: #2F303A;
}
.footer_wrapper{
    width: 1170px;
}
.logo_footer{
    text-decoration: none;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;

    color: var(--btn-active);
}
.logo_footer>span{
    color: var(--white);
}
.footer_address{
    margin: 20px 0 0 0;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
}
.footer_contact{
    color: var(--white);
    font-size: 14px;
    font-style: normal;
}
.mail,.phone{
    opacity: 0.6;
}
.mail{
    margin: 9px 0 9px 0;
}

/* PORTFOLIO STYLE*/

.filter-btn{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    border-radius: 4px;
 }
.filter-btn:active,
.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--btn-active);
    transition: 0.5s;
    color: var(--white);

}
.filter-box{
    text-align: center;
}

ul{
    display: flex;
    justify-content: center;
}

.filter-link{
    margin: 94px 0 50px 0;
}
.filter-link:not(last-child){
    margin-right: 8px;
}
.filter-btn{
    padding: 6px 20px;
    border: none;
    background-color: var(--btn-bg-color);
}
.filter-btn:hover,
.filter-btn:focus{
    cursor: pointer;
}

/* LIST STYLE */

.works-list{
    width: 1170px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-link{
    width: 370px;
    margin-bottom: 30px;
    justify-content: space-between;
    border: 1px solid #EEEEEE;
}

p{
    color: #757575;
}
.works{
    margin: 0 auto 94px auto;
}
.works-title{
    margin: 0 0 10px 0;
    
    font-size: 18px;
    line-height: 2;
    font-weight: 700;

    color: #212121;
}
.works-subtitle {
    font-size: 16px;
    line-height: 1.8;
}
.work-link>img{
    width: 370px;
    display: inherit;
}
.work-title{
    padding: 30px;
    border-radius: 0 0 4px 4px;
    text-align: left;
    background-color: var(--white);
}